body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(./images/Flag-Nigeria.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid greenyellow;

}
ul{
    display: flex;
    justify-content: space-between;
}
img{
    
    max-width: 40%;
    max-height: 40%
}
p{
    color: red;
    font-size: 30px;
}
h1{
    color: black;
}
h2{
    color: red;
}
u{
    color: blue;
    font-weight: 300;
}